img {
    width: 250px;
    height: 370px;
    border-radius: 10px;
  }
  .movie {
    background-color: #c6d2ed;
    border: 30px solid #c6d2ed;
    border-radius: 10px;
    margin: 30px;
  }
  
  .movieName {
    font-weight: bold;
    font-size: 20px;
  }